<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--该文件用于配置数据库连接字符串-->
    <!--将这里的连接字符串换成你自己的-->
    <add name="conn" connectionString="Data Source=DESKTOP-3L6FC49\SQLEXPRESS;Initial Catalog=FMSDB;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
